{% extends 'base.html' %}
{% block content %}

{% block title %}
Book details - bok store
{% endblock %}

<div class="container mt-5">
  <div class="card shadow p-4">
    <h3 class="mb-4 text-center">Add Book</h3>

    <form action="">

      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" placeholder="Enter book title">
      </div>

      <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" class="form-control" placeholder="Enter author name">
      </div>

      <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="text" class="form-control" placeholder="Enter price">
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="3" placeholder="Enter book description"></textarea>
      </div>

      <button type="submit" class="btn btn-primary w-100">
        Submit
      </button>

    </form>
  </div>
</div>










{% endblock %}